<app-header></app-header>
<section>
    <div class="usuarioAcciones">
        <h2>Tu información</h2>
        <form [formGroup]="userForm">
            <label for="nombre">Nombre</label>
            <app-input-text
                [placeholder]="'Nombre'"
                [control]="'nombre'"
                [group]="userForm"
            ><mat-icon>edit</mat-icon>
            </app-input-text>

            <label for="nombre">Apellidos</label>
            <app-input-text
                [placeholder]="'Apellidos'"
                [control]="'apellidos'"
                [group]="userForm"
            ><mat-icon>edit</mat-icon>
            </app-input-text>

            <label for="email">E-mail</label>
            <p>{{user?.mail}}</p>
            <div class="flexRight">
                <button (click)="actualizarUsuario()">ACTUALIZAR INFORMACIÓN</button>
            </div>
            <div class="accionesContainer">
                <div class="sombraLuz"></div>
                <h2>Acciones</h2>
                <button (click)="setMostrarNuevoProyecto(true)">
                    <mat-icon>add</mat-icon> 
                    NUEVO PROYECTO
                </button>
                <button (click)="logout()">
                    <mat-icon>logout</mat-icon> 
                    CERRAR SESIÓN
                </button>
            </div>
        </form>
    </div>

    <div class="proyectos" *ngIf="proyectos.length > 0">
        <h2>Tus proyectos</h2>

        <div class="proyectosContainer">
            <div class="proyectoOne side-left" 
                *ngFor="let p of proyectos"
                [routerLink]="'/proyecto/' + p.id"
            >
                <div class="tituloProyecto">
                    <h4>{{p.nombre}}</h4>
                    <span>· · ·</span>
                </div>
                <div class="datosProyecto">
                    <span><mat-icon>calendar_month</mat-icon>: {{p.fechaCreacion.toString() | date}}</span>
                    <span><mat-icon>person</mat-icon>: {{p.usuarios.length}} </span>
                    <span>Genéricos: {{p.numeroGenericos}}</span>
                    <span>Pantallas: {{p.numeroPantallas}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="noProjects" *ngIf="proyectos.length === 0">
        <h2>Aún no tienes proyectos</h2>
    </div>
</section>

<app-modal 
    *ngIf="mostrarNuevoProyecto" 
    [titulo]="'Nuevo Proyecto'" 
    (cerrarModal)="setMostrarNuevoProyecto(false)"
>
    <form [formGroup]="nuevoProyectoForm" class="nuevoProyectoForm">
        <label for="nombre">Nombre</label>
        <app-input-text
            [placeholder]="'Nombre del proyecto'"
            [control]="'nombre'"
            [group]="nuevoProyectoForm"
        ><mat-icon>edit</mat-icon>
        </app-input-text>
        <div class="flexRight">
            <button (click)="crearProyecto()">
                <mat-icon>add</mat-icon> 
                CREAR PROYECTO
            </button>
        </div>
    </form>
</app-modal>
