header {
  height: 4rem;
  width: 90%;
  padding: 0 5%;
  background-color: var(--bg-color);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: fixed;
  top: 0;
  z-index: 5;
}

header.header2{
  position: relative;
  width: 70%;
  padding: 0 15%;
  background-color: transparent;
  box-shadow: none;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

header img {
  width: 3.5rem;
}

header mat-icon {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s;
  color: white;
}

header mat-icon:hover {
  color: rgb(196, 226, 255);
}

ul{
  display: flex;
  list-style: none;
  color: var(--gris-claro);
  font-size: 17px;
  font-weight: 400;
}

ul li{
  cursor: pointer;
  margin-right: 20px;
  transition: .3s;
}

ul li:hover{
  color: var(--color-primario-hover);
}
