<header [ngClass]="header1? '' : 'header2'">
  <div class="pointer" routerLink="/">
    <img src="assets/img/UBFFlogo.png" alt="UltimateBFF" />
    <span>Ultimate BFF</span>
  </div>

  <div>
    <ul>
      <li routerLink="/">Inicio</li>
      <li routerLink="/docs">Ayuda</li>
      <li routerLink="/docs">Docs</li>
      <li *ngIf="login" routerLink="/dashboard">Dashboard</li>
    </ul>
    <mat-icon *ngIf="!login" routerLink="/login">person</mat-icon>
    <mat-icon *ngIf="login" (click)="logout()">logout</mat-icon>
  </div>
</header>



