<app-header [header1]="false"></app-header>
<div class="bg-primary">
  <div class="fondoDegradado">
    <h1>Generador de Documentación Backend for Frontend</h1>
  </div>

  <div class="textoHome">
    <h2>¿Qué es Backend for Frontend (BFF)?</h2>
    <div class="sombraLuz"></div>
    <p>
      El Backend for Frontend es una arquitectura que permite optimizar la
      comunicación entre el frontend y varios servicios backend, proporcionando
      una capa intermedia específicamente diseñada para satisfacer las
      necesidades del cliente. Este enfoque mejora la eficiencia del desarrollo
      al adaptar la lógica del servidor a las necesidades específicas de la
      interfaz de usuario.
    </p>
  </div>

  <div class="infoContainer">
    <section>
      <div class="tituloInfo">
        <h2>Simplifica la Gestión y Aumenta la Productividad</h2>
        <div class="sombraLuz"></div>
      </div>

      <div class="targetsContainer">
        <div class="targetLuz">
          <h4>Crea Proyectos y añade Programadores</h4>
          <p>
            Crea tus proyectos y añade programadores de manera sencilla. Facilitamos
            la colaboración permitiéndote invitar a desarrolladores para una
            experiencia de trabajo fluida y eficaz.
          </p>
        </div>
        <div class="targetLuz">
          <h4>Documentación BFF Completa</h4>
          <p>
            Genera documentación detallada de los endpoints, tanto específicos de
            pantalla como genéricos para el desarrollo del proyecto. Nuestra
            plataforma simplifica la creación y gestión de documentos, asegurando una
            comprensión clara y concisa de tu arquitectura BFF.
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
