.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
}

.loginForm {
  width: 23rem;
  padding: 1rem;
  height: 31rem;
  border-radius: 24px;
  border: 1px solid var(--color-primario);
  -webkit-box-shadow: 6px 7px 21px -10px var(--color-primario);
  -moz-box-shadow: 6px 7px 21px -10px var(--color-primario);
  box-shadow: 6px 7px 21px -10px var(--color-primario);
  color: var(--gris-claro);
}

.flexRight {
  display: flex;
  justify-content: right;
}

.loginButton {
  width: 8rem;
}

h1 {
  font-weight: 600;
  color: white;
  margin-bottom: 3rem;
}

.sesionGoogle {
  border: 1px solid var(--color-primario);
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
  margin-bottom: 2vh;
  cursor: pointer;
  transition: .3s;
}

.sesionGoogle img {
  width: 30px;
  margin-right: 20px;
}

.sesionGoogle p {
  margin: 0px;
  color: var(--gris-claro);
}

.sesionGoogle:hover{
  box-shadow: 1px 1px 7px var(--color-primario);
}
