p {
  padding: 1rem;
  background-color: var(--bg-color-element);
  border: 1px solid var(--color-primario);
  border-radius: 14px;
  margin-left: 1%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

  
  .readyText{
    color: var(--color-success);
  }

  .revision{
    color: var(--color-primario-hover);
  }