<app-header></app-header>
<section *ngIf="!loading">
    <div class="subHeader">
        <mat-icon [routerLink]="'/proyecto/'+ idProyecto">arrow_back</mat-icon>
        <h3 *ngIf="!editar">Nuevo Componente Visual</h3>
        <h3 *ngIf="editar">Editar Componente Visual {{visual.nombre}}</h3>
    </div>

    <form [formGroup]="visualForm" class="formularioPrincipal">

        <div class="inputTextContainer">
            <label for="nombre">Nombre del Componente Visual *</label>
            <app-input-text
                [placeholder]="'Nombre'"
                [control]="'nombre'"
                [group]="visualForm"
            ><mat-icon>edit</mat-icon>
            </app-input-text>
        </div>

        <h4>Componentes</h4>
        <div formArrayName="componentes">
            <div class="componenteOne" *ngFor="let c of componentesFormArray.controls; let i = index">
                <app-input-image
                    [group]="getComponenteFormGroup(i)"
                    [control]="'image'"
                    [id]="'imagenComponente'+i"
                ></app-input-image>
                <label for="descipcion">Descripción de la Imagen</label>
                <app-input-textarea
                    [placeholder]="'Descripción de la imagen'"
                    [control]="'descripcion'"
                    [group]="getComponenteFormGroup(i)"
                ><mat-icon>edit</mat-icon>
                </app-input-textarea>

                <form [formGroup]="getComponenteFormGroup(i)">
                    <div formArrayName="llamadas">
                        <div class="llamadaOne" *ngFor="let c of getLlamadasFormArray(i).controls; let o = index">
                            <label for="nombre">Titulo :</label>
                            <app-input-text
                                [placeholder]="'Titulo'"
                                [control]="'nombre'"
                                [group]="obtenerFormGroupLlamada(i, o)"
                            ><mat-icon>edit</mat-icon>
                            </app-input-text>

                            <label>Endpoint de Pantalla :</label>
                            <app-input-select
                                [group]="obtenerFormGroupLlamada(i, o)"
                                [control]="'idEndpoint'"
                                [values]="pantallasValues"
                            ></app-input-select>

                            <button 
                                (click)="eliminarLlamada(i,o)" 
                                class="delete"
                                *ngIf="getLlamadasFormArray(i).controls.length > 1"
                            >
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                
                    <button (click)="aniadirLlamadaFormArray(i)">
                        <mat-icon>add</mat-icon>
                        AÑADIR LLAMADA A ENDPOINT
                    </button>
                </form>
                <button 
                    (click)="eliminarComponente(i)" 
                    class="delete"
                    *ngIf="componentesFormArray.controls.length > 1"
                >
                    <mat-icon>delete</mat-icon>
                    ELIMINAR COMPONENTE
                </button>
                <div class="sombraLuz"></div>
            </div>
            <button (click)="aniadirComponenteFormArray()">
                <mat-icon>add</mat-icon>
                AÑADIR COMPONENTE
            </button>
        </div>
  
        
        <div class="flexRight">
            <button (click)="aniadirComponenteVisual()">
                <mat-icon>upload</mat-icon>
                {{editar? 'ACTUALIZAR COMPONENTE VISUAL' : 'AÑADIR COMPONENTE VISUAL'}}
            </button>
        </div>
    </form>
</section>

<section class="loaderContainer" *ngIf="loading">
    <app-loader></app-loader>
    <h2 *ngIf="!editar">Publicando componente visual ...</h2>
</section>

