footer {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 0px 10%;
    background-color: rgb(15, 15, 19);
    position: relative;
    z-index: 10;
}