section{
    margin-top: 4rem;
    width: 80%;
    padding: 0 10%;
}

.subHeader{
    display: flex;
    justify-content: left;
    align-items: center;
}

.subHeader mat-icon{
    margin-right: 1.5rem;
    cursor: pointer;
    transition: .3s;
}

.subHeader mat-icon:hover{
    color: var(--color-primario-hover);
}

.methodContainer{
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
}

.methodContainer label{
    margin-top: 10px;
    margin-right: 10px;
}

.inputTextContainer{
    width: 50%;
}