<app-header></app-header>
<section *ngIf="proyecto !== null">
    <div class="subHeader">
        <mat-icon routerLink="/dashboard">arrow_back</mat-icon>
        <h3>{{proyecto.nombre}}</h3>
    </div>

    <div class="proyectoBody">
        <div class="botoneraTop">
            <button (click)="mostrarParticipantes = true">
                <mat-icon>person</mat-icon> 
                PARTICIPANTES
            </button>
            <button [routerLink]="'/nuevoGenerico/' + idProyecto">
                <mat-icon>dns</mat-icon> 
                NUEVO EP.GENÉRICO
            </button>
            <button [routerLink]="'/nuevaPantalla/' + idProyecto">
                <mat-icon>desktop_windows</mat-icon> 
                NUEVO EP.PANTALLA
            </button>
            <button>
                <mat-icon>preview</mat-icon> 
                NUEVO C.VISUAL
            </button>
            <button>
                <mat-icon>download</mat-icon> 
                EXPORTAR PDF
            </button>
        </div>

        <div class="contentContainer">
            <app-drop-down
                [titulo]="'Endpoints de Pantallas'"
                [elements]="getPantallaDropDown()"
                [id]="'endpointPantallaDropDown'"
            ></app-drop-down>

            <app-drop-down
                [titulo]="'Endpoints Genéricos'"
                [elements]="getGenericoDropDown()"
                [id]="'endpointGenericoDropDown'"
            ></app-drop-down>
        </div>
    </div>
</section>

<div class="loaderContainer" *ngIf="proyecto === null">
    <app-loader></app-loader>
</div>

<app-modal
    *ngIf="mostrarParticipantes"
    [titulo]="'Participantes de ' + proyecto?.nombre" 
    (cerrarModal)="mostrarParticipantes = false"
>
    <div class="participantesContainer">
        <div *ngFor="let p of participantes" class="participante">
            <p><b>Nombre: </b> {{p.nombre}} {{p.apellidos}}</p>
            <p><b>Email: </b> {{p.mail}}</p>
            <span>Eliminar del Proyecto</span>
        </div>    
    </div>
    <form [formGroup]="participantesForm">
        <h4>Añadir participante</h4>
        <app-input-text
            [placeholder]="'Email nuevo Usuario'"
            [control]="'mail'"
            [group]="participantesForm"
        ><mat-icon>mail</mat-icon>
        </app-input-text>
        <div class="flexRight">
            <button (click)="aniadirUsuario()">
                <mat-icon>add</mat-icon>
                AÑADIR PARTICIPANTE
            </button>
        </div>
    </form>
</app-modal>