<app-header></app-header>
<section *ngIf="proyecto !== null">
    <div class="subHeader">
        <div>
            <mat-icon routerLink="/dashboard">arrow_back</mat-icon>
            <h3>{{proyecto.nombre}}</h3>
        </div>
        <button (click)="exportarPDF()">
            <mat-icon>download</mat-icon> 
            EXPORTAR PDF
        </button>
    </div>

    <div class="proyectoBody">

        <div class="contentContainer">
            <app-tabs
                [options]="[
                    'Endpoints Genéricos',
                    'Endpoints de Pantalla',
                    'Componentes Visuales',
                    'Participantes'
                ]"
                [optionSelected]="selectedOption"
                (selectOption)="selectOption($event)"
            ></app-tabs>
            <app-endpoints-genericos
                *ngIf="selectedOption === 0"  
                [carpetas]="genericos"  
                [idProyecto]="idProyecto"
                (recargar)="cargarProyecto()"
            ></app-endpoints-genericos>
            <app-endpoints-pantalla
                *ngIf="selectedOption === 1"  
                [carpetas]="pantallas"  
                [idProyecto]="idProyecto"
                (recargar)="cargarProyecto()"
            ></app-endpoints-pantalla>
            <app-componentes-visuales
                *ngIf="selectedOption === 2"  
                [elements]="getVisualDropDown()"
                [idProyecto]="idProyecto"
            ></app-componentes-visuales>
            <app-participantes
                *ngIf="selectedOption === 3"  
                [participantes]="participantes"
                [idProyecto]="idProyecto"
                (recargar)="cargarProyecto()"
            ></app-participantes>

        </div>
    </div>
</section>

<app-footer *ngIf="proyecto !== null"></app-footer>

<div class="loaderContainer" *ngIf="proyecto === null">
    <app-loader></app-loader>
</div>

<!-- <app-modal
    *ngIf="mostrarParticipantes"
    [titulo]="'Participantes de ' + proyecto?.nombre" 
    (cerrarModal)="mostrarParticipantes = false"
>
    <div class="participantesContainer">
        <div *ngFor="let p of participantes" class="participante">
            <p><b>Nombre: </b> {{p.nombre}} {{p.apellidos}}</p>
            <p><b>Email: </b> {{p.mail}}</p>
            <span>Eliminar del Proyecto</span>
        </div>    
    </div>
    <form [formGroup]="participantesForm">
        <h4>Añadir participante</h4>
        <app-input-text
            [placeholder]="'Email nuevo Usuario'"
            [control]="'mail'"
            [group]="participantesForm"
        ><mat-icon>mail</mat-icon>
        </app-input-text>
        <div class="flexRight">
            <button (click)="aniadirUsuario()">
                <mat-icon>add</mat-icon>
                AÑADIR PARTICIPANTE
            </button>
        </div>
    </form>
</app-modal> -->